<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="/student/base::layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <title>edit profile</title>
  </head>
  <style></style>
  <body>
    <section>
      <div class="container p-4">
        <div class="row">
          <div class="col-md-12 md-6 sm-4 ml-6">
            <div class="card">
              <h4 class="text-center text-info bg-dark p-2">
                Update My Profile
              </h4>
              <div class="card-header">
                <div class="card-body text-center">
                  <!-- User Specific profile image -->
                  <img
                    th:src="@{'/images/'+ ${user.image}}"
                    alt=""
                    class="myProfile my-3"
                  />

                  <div></div>
                  <form
                    th:action="@{/student/editProfileProcess}"
                    enctype="multipart/form-data"
                    th:method="post"
                    th:object="${user}"
                  >
                    <div class="table-responsive">
                      <table class="table text-black text-center">
                        <tr>
                          <td hidden="">
                            <input
                              class="form-control"
                              name="id"
                              th:value="${user.id}"
                              hidden=""
                            />
                          </td>
                        </tr>
                        <tr>
                          <th scope="col">Name</th>
                          <td>
                            <input
                              class="form-control"
                              name="name"
                              required="required"
                              placeholder="Your name"
                              th:value="${user.name}"
                            />
                          </td>
                        </tr>

                        <tr>
                          <th scope="col">Class</th>
                          <td>
                            <input
                              class="form-control"
                              name="standerd"
                              placeholder="class"
                              th:value="${user.standerd}"
                              required="required"
                            />
                          </td>
                        </tr>
                        <tr>
                          <th scope="col">Subject</th>
                          <td>
                            <input
                              class="form-control"
                              name="subject"
                              placeholder="Subject"
                              th:value="${user.subject}"
                              required="required"
                            />
                          </td>
                        </tr>
                        <tr>
                          <th scope="col">Phone</th>
                          <td>
                            <input
                              class="form-control"
                              name="phone"
                              placeholder="Phone"
                              th:value="${user.phone}"
                              required="required"
                            />
                          </td>
                        </tr>
                        <tr>
                          <th scope="col">Going to</th>
                          <td>
                            <input
                              class="form-control"
                              name="going"
                              placeholder="going"
                              th:value="${user.going}"
                              required="required"
                            />
                          </td>
                        </tr>
                        <tr>
                          <th scope="col">City</th>
                          <td>
                            <input
                              class="form-control"
                              name="city"
                              placeholder="city"
                              th:value="${user.city}"
                              required="required"
                            />
                          </td>
                        </tr>
                        <tr>
                          <th scope="col">Choose Profile</th>
                          <td>
                            <input
                              type="file"
                              class="form-control"
                              name="proImg"
                            />
                            <input
                              type="submit"
                              class="btn btn-primary btn-block my-3"
                              value="Save & Update"
                            />
                            <a
                              th:href="@{/student/myProfile}"
                              class="btn btn-block btn-danger"
                              >Cancel</a
                            >
                          </td>
                        </tr>
                        <tbody></tbody>
                      </table>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
